

/*=============== Color Css=============*/

/*=============== Font color & Background color Css ==============*/

.f-white{color:#ffffff;}
.bg-white{background:#ffffff;}
.f-black{color:#000000;}
.bg-black{background:#000000;}	
.f-red{color:#FF1818;}	
.bg-red{background:#FF1818;}
.f-sky-blue{color:#5463FF;}	
.bg-sky-blue{background:#5463FF;}
.f-gray{color:#ECECEC;}
.bg-gray{background:#ECECEC;}
.f-yellow{color:#FFC300;}
.bg-yellow{background:#FFC300;}


/*=============== Border Color Css ==============*/
.bdr-white{}
.bdr-black{}
.bdr-red{}
.bdr-sky-blue{}
.bdr-gray{}
.bdr-yellow{}

/*=============== Heading Css ==============*/
.h-xxl{font-size:42px;}
.h-xl{}
.h-lg{}
.h-md{}
.h-sm{}
.h-xs{}

/*=============== Font-weight Css ==============*/





	
	
	
	



